body {
    width: 100%;
    margin: 0 auto;
    background-color: #f1efef;
    font-family: didot, helvetica, sans-serif;
}


.grid-wrapper {
    display: grid;
}

/* header centerd in middle */
.header-box {
    color: rgb(5, 32, 3);
    height: 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* nav box centered in middle*/
.nav-box {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(5, 32, 3);
    border-bottom: 1px solid rgb(5, 32, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* removed line under links */
.nav-box a {
    color: rgb(5, 32, 3);
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation buttons hover red */
.nav-box>a:hover {
    color: #b83b3d;
}

/* image is centered, added padding for symmetry */
.section-box {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
}

/* responsive image */
.section-box img {
    width: 100%;
    height: auto;
    display: block;
}

/* responsive video */
.section-box video {
    width: 100%;
    height: auto;
    display: block;
}

/* gallery images will change based on screen width */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
}

.gallery img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 10px solid #f1efef;
    display: block;
}

.form {
    margin: 0 auto;
    padding: 80px 80px;
}

/* background color in form changed and margin bottom provides space between sections */
.form input,
textarea {
    margin-bottom: 10px;
    background-color: #45492a;
    color: #f1efef
}

.form textarea {
    width: 100%;
}

/* provide symmetry between forename and surname */
.surname {
    padding-right: 5.5px;
}

.submit {
    margin-top: 10px;
}


/* width optimized for easy reading, padding for symmetry,  */
.article-box {
    color: rgb(24, 2, 2);
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 40px 80px;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 1.2rem;
}

/* header centered */
.article-box h2 {
    display: flex;
    justify-content: center;
    color: rgb(24, 2, 2);
    margin-bottom: 20px;
}

.article-box h3 {
    display: flex;
    justify-content: center;
    color: rgb(24, 2, 2);
    margin-bottom: 20px;
}

.article-box p {
    margin-bottom: 20px;
}

.map-header {
    color: rgb(24, 2, 2);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-wrapper {
    border: 2px solid rgb(24, 2, 2);
    padding-bottom: 80px;
}

.map {
    width: 100%;
    height: 600px;
}

/* bug, footerbox expands because of images in tips.html*/
.footer-box {
    margin: 0 auto;
    background-color: #45492a;
    max-height: 100%;
    width: 100%;
}

/* navigation in top left corner */
.nav-bottom {
    width 100% 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
    margin: 0 auto;
}

/* removed line under text */
.nav-bottom a {
    color: #f1efef;
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav-bottom a:hover {
    color: #b83b3d;
}

/* header centered */
.footer-box h2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #f1efef;
    padding: 35px 35px;
}

/* media logos in bottom right corner */
#media-logos {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
}

/* removed line under logos, displayed in row instead of column */
#media-logos li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

#media-logos i {
    font-size: 250%;
    color: #f1efef;
    padding-top: 20px;
    padding-right: 35px;
}

/* adpated for 13 inch laptop width */
@media screen and (max-width: 1280px) {

    .section-box {
        max-width: 780px;
        padding-top: 20px;
    }

    .gallery {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .gallery img {
        width: 240px;
        height: 240px;
    }

    .article-box {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .map-wrapper {
        padding-bottom: 40px;
    }

    .map {
        height: 400px
    }

    .form {
        padding: 20px 20px;
    }

}

/* adapted for common tablet width */
@media screen and (max-width: 600px) {

    .header-box {
        height: 80px;
        margin: 0 auto;
        justify-content: center;
        font-size: 1.0rem;
    }

    .nav-box a {
        padding: 5px;
        font-size: 1.2rem;
        text-align: center;
        height: 60px;
    }

    .article-box {
        font-size: 1rem;
        padding-top: 0;
    }

    .map-wrapper {
        padding: 20px 20px;
    }

    .nav-bottom {
        padding: 20px 20px;
        text-align: center;
    }

    /* smaller font-size, improvements will move down at smaller screen-sizes */
    .nav-bottom a {
        font-size: 1.2rem;
        justify-content: center;
    }

    .footer-box h2 {
        color: #f1efef;
        padding: 50px 50px;
        text-align: center;
    }

    /* logos slightly off-center */
    #media-logos {
        justify-content: center;
        align-content: space-around;
        margin: 0 auto;
    }

    /* space-evenly will allow the logos to apear more centered, still not perfect */
    #media-logos i {
        justify-content: center;
        padding-bottom: 10px;
    }

}

/* adapted for mobile screens */
@media screen and (max-width: 430px) {

    .header-box {
        height: 60px;
        margin: 0 auto;
        justify-content: center;
        font-size: 0.8rem;
    }

    .nav-box {
        padding: 5px;
        font-size: 1.0rem;
        height: 40px;
    }

    .map {
        height: 300px;
    }

    .nav-bottom {
        font-size: 1rem;
    }

    .footer-box h2 {
        color: #f1efef;
        padding: 20px 20px;
        text-align: center;
        font-size: 1.2rem;
    }

    #media-logos i {
        font-size: 200%;
        color: #f1efef;
        padding: 10px 0 0 0;
        
    }
}