body {
    width: 100%;
    margin: 0 auto;
    background-color: #f1efef;
    font-family: didot, helvetica, sans-serif;
}

/* makes sure all content in elements doesn´t stayes within their bounderies */
.grid-wrapper {
    display: grid;
}

/* header centerd in middle */
.header-box {
    color: rgb(5, 32, 3);
    height: 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* nav box centered in middle*/
.nav-box {
    width 100%;
    height: 80px;
    border-top: 1px solid rgb(5, 32, 3);
    border-bottom: 1px solid rgb(5, 32, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* removed line under links */
.nav-box > a {
    color: rgb(5, 32, 3);
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
}
/* buttons hover red */
.nav-box>a:hover {
    color: #b83b3d;
}

/* image is centered, added padding for symmetry */
.section-box {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* responsive image */
.section-box img {
    width: 100%;
    height: auto;
    display: block;
}