,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin:0   
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #f1efef;
    font-family: didot, helvetica, sans-serif;
}

/* makes sure all content in elements doesn´t stayes within their bounderies */
.grid-wrapper {
    display: grid;
}

/* header centerd in middle */
.header-box {
    color: rgb(5, 32, 3);
    height: 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* nav box centered in middle*/
.nav-box {
    width 100%;
    height: 80px;
    border-top: 1px solid rgb(5, 32, 3);
    border-bottom: 1px solid rgb(5, 32, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* removed line under links */
.nav-box > a {
    color: rgb(5, 32, 3);
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
}
/* buttons hover red */
.nav-box>a:hover {
    color: #b83b3d;
}

/* image is centered, added padding for symmetry */
.section-box {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
}

/* responsive image */
.section-box img {
    width: 100%;
    height: auto;
    display: block;
}

.section-box video {
    width: 100%;
    height: auto;
    display: block;
}

.gallery {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 10px;

}

/* width optimized for easy reading, padding for symmetry,  */
.article-box {
    color: rgb(24, 2, 2);
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding-top: 80px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 80px;
    font-size: 1.2rem;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.gallery-images a {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.gallery-images a i {
    color: rgba(255,255,255, .6);
    font-size: 30px;
    position: relative;
    z-index: 100;
    padding: 10px 30px;
    border: 2px solid rgb(5, 32, 3);
    border-radius: 4px;
    opacity: 0;
    transition: opacity .5s;
}

.gallery-images a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8));
}
/* header centered */
.article-box h2 {
    display: flex;
    justify-content: center;
    color: rgb(24, 2, 2);
}


.article-box h3 {
    display: flex;
    justify-content: center;
    color: rgb(24, 2, 2);
}


/* problem positioning elements with flex box (will not recognize the bottom of the footer), solved with padding (aware that this is so called smelly code, working on solution) */
.footer-box {
    margin: 0 auto;
    background-color: #45492a;
    height: 100%;
    width: 100%;
}

/* navigation in top left corner */
.nav-bottom {
    width 100% 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 30px;
    margin: 0 auto;
}

/* removed line under text */
.nav-bottom > a {
    color: #f1efef;
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav-bottom > a:hover {
    color: #b83b3d;
}

/* header centered */ 
.footer-box h2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #f1efef;
    padding: 35px;
}

/* media logos in bottom right corner */
#media-logos {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
}

/* remoed line under logos, displayed in row instead of column */
#media-logos li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

#media-logos i {
    font-size: 250%;
    color: #f1efef;
    padding-top: 20px;
    padding-right 35px;
}

@media screen and (max-width: 600px) {

    .header-box {
        color: rgb(5, 32, 3);
        height: 120px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        font-size: 1.0rem;
    }

    .nav-box > a {
        padding: 5px;
        font-size: 1.2rem;
        text-align: center;
    }

    .article-box {
        color: rgb(24, 2, 2);
        height: auto;
        max-width: 500px;
        margin: 0 auto;
        padding-right: 2.5%;
        padding-left: 2.5%;
        padding-bottom: 80px;
        font-size: 1.1rem;
    }

    .footer-box {
        margin: 0 auto;
        background-color: #45492a;
        height: 100%;
        width: 100%;
    }

    .nav-bottom {
        width 100%;
        padding: 30px;
        text-align: center;
    }

    /* smaller font-size, improvements will move down at smaller screen-sizes */
    .nav-bottom > a {
        font-size: 1.2rem;
        justify-content: center;
    }

    .footer-box h2 {
        color: #f1efef;
        padding: 60px;
        text-align: center;
    }
    /* logos slightly off-center */
    #media-logos {
        justify-content: center;
        align-content: flex-end;
        margin: 0 auto;
    }

    #media-logos i {
        justify-content: center;
        align-items: space-evenly;
        text-align: center;
    }
}