html, body {
    width: 100%;
    margin: 0;
    background-color: #f1efef;
    font-family: Quattrocento, helvetica, sans-serif;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}
}
/* Ended up not using grid because of the limited time to learn it. But the site works differently without display:grid, since some of the sites elements behave as they do due to the deafult for grid is row  it won't be removed */
.grid-wrapper {
    display: grid;
}
/* Header centerd in middle */
.header {
    color: rgb(5, 32, 3);
    height: 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
/* Nav box centered in middle*/
.nav {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(5, 32, 3);
    border-bottom: 1px solid rgb(5, 32, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Nav elements centered, removed line under links */
.nav a {
    color: rgb(5, 32, 3);
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navigation buttons hover red */
.nav a:hover {
    color: #b83b3d;
}
/* Image is centered, added padding for symmetry, works in conjuction with img and video (below) */
.section {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
}
/* Responsive image */
.section img {
    width: 100%;
    height: auto;
    display: block;
}
/* Responsive video */
.section video {
    width: 100%;
    height: auto;
    display: block;
}
/* Gallery images will change formation based on screen width */
.gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1;
}
.gallery img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 10px solid #f1efef;
    display: block;
    box-sizing: border-box;
}
/* Padding for symmetry */
.form {
    margin: 0 auto;
    padding: 80px 80px;
    max-width: 900px;
}
.form > * {
    width: 100%;
    border: none;
    display: block;
    box-sizing: border-box;
}
/* Background color in form changed from default white, font added to ensure Didot is used through out site and margin bottom provides space between form elements */
.form input,
textarea {
    font-family: didot, helvetica, sans-serif;
    margin-bottom: 10px;
    background-color: #45492a;
    color: #f1efef;
}
.form textarea {
    border-radius: 3px;
}
/* Provide symmetry between forename and surname */
#fname {
    padding: 10px;
    border-radius: 3px;
}
#sname {
    padding: 10px;
    border-radius: 3px;
}
/* Padding necessary to make all form elements have the same space between each other */
.submit {
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 25px;
}
/* Width optimized for easy reading, padding for symmetry  */
.article {
    color: rgb(24, 2, 2);
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 40px 5% 80px 5%;
    font-size: 1.2rem;
}
/* Header centered */
.article h2 {
    display: flex;
    justify-content: center;
    color: rgb(24, 2, 2);
    margin-bottom: 20px;
}
/* Header centered */
.article h3 {
    display: flex;
    justify-content: center;
    color: rgb(24, 2, 2);
    margin-bottom: 20px;
}
/* Provides space between paragraphs */
.article p {
    margin-bottom: 20px;
}
/* Header centered */
.map-header {
    color: rgb(24, 2, 2);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 5%;
    margin-bottom: 40px;
    font-size: 1.2rem;
}
/* Padding for symmetry on large screen-sizes */
.map-wrapper {
    border: none;
    padding-bottom: 80px;
    display: block;
}
.map {
    width: 100%;
    height: 600px;
}
.footer {
    margin: 0 auto;
    background-color: #45492a;
    max-height: 370px;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
/* Navigation in top left corner */
.nav-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: 40px;
}
/* Removed line under text */
.nav-bottom a {
    color: #f1efef;
    padding: 30px;
    font-size: 1.4rem;
    text-decoration: none;
}
.nav-bottom a:hover {
    color: #b83b3d;
}
/* Header centered */
.footer h2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 1.6rem;
    color: #f1efef;
    padding: 35px 35px;
    width: 100%;
}
/* Media logos in bottom right corner */
.media-logos {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
}
/* Removed line under logos, displayed in row instead of column through inline */
.media-logos li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}
.media-logos i {
    font-size: 250%;
    color: #f1efef;
    padding: 30px;
    box-sizing: border-box;
}
/* Adpated for 13 inch laptop width */
@media screen and (max-width: 1280px) {
    .section {
        max-width: 780px;
        padding-top: 20px;
    }
    .gallery {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .gallery img {
        width: 240px;
        height: 240px;
    }
    .article {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .form {
        padding: 20px 20px;
    }
    .map-header {
        padding: 0 5% 0 5%;
        margin-bottom: 20px;
    }
    .map-wrapper {
        padding: 20px 20px;
    }
    .map {
        height: 400px
    }
}

/* Adapted for common tablet width */
@media screen and (max-width: 600px) {
/* Smaller header */
    .header {
        height: 80px;
        margin: 0 auto;
        font-size: 1.0rem;
    }
    /* On larger screns sizes nav and logos are displayed in upper left and bottom right corner. On smaller screns-sizes the are centered. Smaller font-size than on smaller screens-sizes */
    .nav a {
        padding: 15px;
        font-size: 1.2rem;
        text-align: center;
        height: 60px;
    }
    .map-header {
        font-size: 1.0rem;
    }
    .article {
        font-size: 1rem;
        padding-top: 0;
    }
    .map-wrapper {
        padding: 20px 20px;
        box-sizing: border-box;
    }
    .nav-bottom {
        text-align: center;
    }
    /* Smaller font-size than on larger screens */
    .nav-bottom a {
        font-size: 1.2rem;
        padding: 20px;
        position: relative;
        right: 30px;
    }
    .footer h2 {
        color: #f1efef;
        padding: 50px 50px;
        text-align: center;
        box-sizing: border-box;
    }
    /* Logos slightly off-center */
    .media-logos {
        justify-content: center;
        margin: 0 auto;
    }
    /* Space-evenly will allow the logos to apear more centered, entirely centered through position relative */
    .media-logos i {
        justify-content: center;
        padding: 10px 10px 0 10px;
        position: relative;
        right: 50px;

    }
}
/* Adapted for mobile screens */
@media screen and (max-width: 430px) {
    .header {
        height: 60px;
        margin: 0 auto;
        justify-content: center;
        font-size: 0.8rem;
        width: 100%;
    }
    .nav {
        height: 40px;
        padding: 5px; 
    }
    .nav-bottom a {
        font-size: 1.1rem;
        padding: 15px;
        position: relative;
        right: 40px;
    }
    .map {
        height: 300px;
    }
    .nav-bottom {
        font-size: 1rem;
    }
    .footer h2 {
        color: #f1efef;
        padding: 30px 30px;
        text-align: center;
        font-size: 1.2rem;
    }
    .media-logos i {
        font-size: 200%;
        color: #f1efef;
        padding: 10px 0 0 0;
        position: relative;
        right: 45px;
    }
}